* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
}
header {
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header * {
  color: white;
}

.font__display {
  font-family: "Playfair Display", monospace;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 10vh;
  position: relative;
  /* overflow: hidden; */
}

nav > div > img {
  height: 60px;
  width: auto;
  position: relative;
  top: 10px;
}

nav > ul {
  display: flex;
  gap: 10px;
}

nav > div > button {
  background: greenyellow;
  color: black;
  padding: 7px 10px;
}

.flex__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > .nav__menu,
nav > .nav__left,
nav > .nav__right {
  animation: menuBounce 0.5s;
}

nav > .nav__menu > .nav__items {
  padding: 0 10px;
}

nav > .nav__menu > .nav__items > a {
  font-size: 17px;
  position: relative;
  margin-bottom: -3px;
}

nav > .nav__menu > .nav__items > a:hover {
  background: blueviolet;
}

nav > .nav__menu > .nav__items > a::after {
  width: 0%;
  height: 2px;
  content: "";
  display: block;
  background: greenyellow;
  margin: auto;
}
.nav__menu--active {
  border-bottom: 2px solid greenyellow;
  /* background: red; */
}

nav > .nav__menu > .nav__items > a:hover .nav__menu--active {
  color: greenyellow;
  /* background: blueviolet; */
}

nav > .nav__menu > .nav__items > a:hover::after {
  width: 100%;
  transition: all ease-in-out 0.5s;
}

/* HERO SECTION STYLING */

.hero__section {
  animation: headerBounce 1s;
  height: 80vh;
  width: 60%;
  margin: auto;

  align-items: start;
  gap: 20px;
}
.hero__section > button {
  color: white;
  border-color: white;
  background: rgba(172, 255, 47, 0.473);
  border: none;
  padding: 10px 14px;
  border-radius: 100px;
}

.hero__section > button:hover {
  background: greenyellow;
  color: black;
}

.hero__section > .hero__headline {
  display: flex;
  justify-self: start;
}

.hero__headline > h1 {
  color: greenyellow;
}

.hero__para > h2 {
  margin-bottom: 10px;
}

/* ANIMATIONS */

@keyframes menuBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes headerBounce {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
}

/* HIDDEN MENU ITEMSO */

.hidden__div {
  position: absolute;
  padding: 0 10px;
  top: 50px;
  color: black;
  z-index: 50;
}

.hidden__item-1,
.hidden__item-2,
.hidden__item-3,
.hidden__item-4 {
  width: 90%;
  display: flex;
  background-color: gray;
  top: 100%;
  height: 30vh;
  color: aqua;
  gap: 10%;
  align-items: center;
}
.item__content-1 > ul > li {
  margin-bottom: 10px;
  position: relative;
}

.item__content-1 > ul > li a:hover {
  color: black;
}

.item__content-1 > ul > li ::before {
  content: ">";
  height: 10px;
  width: 10px;
  top: -2px;
  font-size: 1.2rem;
  position: absolute;
  left: -20px;
  display: none;
}

.item__content-1 > ul > li:hover ::before {
  display: block;
}

.item__content-1 {
  display: flex;
  gap: 70px;
  justify-content: space-around;
}

.slogan-1 {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../img/kraken-1.jpg);
  background-position: center;
  background-size: 100%;

  height: 80%;
  object-fit: contain;

  background-repeat: no-repeat;
  border-bottom-right-radius: 40px;

  border-top-left-radius: 40px;
}

.text__m-w {
  max-width: 50%;
}

.hidden__div div p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

.title {
  color: greenyellow;
  margin-bottom: 10px;
  /* text-align: center; */
  font-weight: 500;
  font-size: 1.2rem;
}

.about {
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  align-self: flex-end;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 780px) {
  .nav__menu,
  .nav__right {
    display: none;
  }

  nav {
    justify-content: flex-end;
  }

  .btn__container {
    display: block;
  }
  .nav__left > img {
    height: 45px;
  }
}

@media (min-width: 780px) {
  .btn__container {
    display: none;
  }
}

/* HAMBURGER HIDDEN ITEM */

#hide {
  /* display: flex; */
  /* height: 100vh; */
  background: rgba(29, 67, 84);
  position: absolute;
  /* top: 0; */
  width: 50%;
  animation: menuBounce 0.5s alternate;
  right: 0;
  height: 90vh;
}

#menu-btn {
  padding: 20px;
  background: transparent;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

#menu-btn:hover {
  background: rgba(255, 255, 255, 0.219);
}
.btn__container {
  width: 50%;
  animation: menuBounce 0.5s;
  height: 100%;
  color: black;
}
.inner__btn {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background: transparent; */
  width: 100%;
}
.inner__menu_item {
  height: 100%;
  position: relative;
  justify-content: space-around;
}

.inner__menu_item > {
  width: 100%;
  display: flex;
  justify-content: center;
}
.inner__btn-container {
  width: 100%;
  cursor: pointer;
  padding: 20px 0;
  border-bottom: 1px solid rgb(51, 98, 125);
  border-top: 1px solid rgba(51, 98, 125);
}

.inner__btn-container > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.inner__btn_list-item {
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  width: fit-content;
}

.inner__btn-container > ul {
  width: 100%;
  height: 100%;
}

.inner__btn_list-item > li {
  border-bottom: 2px solid transparent;
  height: 100%;
}

.inner__btn_list-item > li:hover {
  border-bottom: 2px solid rgb(53, 194, 53);

  width: fit-content;
}

.inner__btn-container:hover {
  border-bottom: 1px solid rgb(53, 194, 53);
  border-top: 1px solid transparent;
  color: rgb(53, 194, 53);
}

.inner__btn-container .hamburger {
  cursor: pointer;
  width: 24px;
  background: transparent;
  /* width: 100%; */
  display: flex;
  justify-content: center;

  margin: 0 auto;
  outline: none;
  /* border: none; */
  height: 24px;
  transition: all 0.25s;
  position: relative;
  z-index: 40;
}
/* .inner__btn {
  width: 100%;
  border: 1px solid red;
  background: white;
} */

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  /* top: 10px;
  left: 0; */

  margin-bottom: 12px;
  width: 24px;
  height: 2px;
  background: rgb(136, 226, 1);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* HERO SECTION STYLING */

.wwd__text {
  font-size: 3.3rem;
  height: 100vh;

  font-weight: 500;
  flex-direction: column;
  padding: 50px 0;
}

.wwd__text > .font__display {
  box-shadow: 8px 10px rgba(104, 88, 88, 0.1);
}
.what-we-do {
  height: 100vh;
  background-image: url(../img/xxx.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  background-image: url(../img/services2.png);
  width: 80%;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .what-we-do {
    height: 60vh;
  }
  .what-we-do > div {
    margin-bottom: 100px;
  }
  .wwd__text {
    font-size: 24px;
  }
  #hide {
    width: 60%;
    z-index: 30;
    font-size: 14px;
    height: 90vh;
  }

  .btn__container {
    width: 60%;
  }
  #menu-btn {
    transform: translateX(80px);
  }
}

/* CALL TO ACTION */

.call-to-action {
  height: 25vh;
  /* min-height: 40vh; */
  min-height: 35vh;

  background: rgba(172, 255, 47, 0.315);
}

.cta__section {
  width: 70%;

  min-height: 100%;
  gap: 30px;
  margin: 0 auto;
  max-width: 50%;
  object-fit: contain;
}

.cta__section > button {
  height: 50px;
  width: 600px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.cta__section > button:hover {
  box-shadow: 5px 5px saddlebrown;
  transition: all 0.8s ease;
}

.cta__section > button::before {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background: darkolivegreen;
  background: darksalmon;
  position: absolute;
  /* top: 100%; */
  margin: 3px;
  z-index: -1;

  top: 100%;
}

.cta__section > button:hover::before {
  width: 100%;
  /* transition: all 0.5s ease; */
  /* transition: 0.6s cubic-bezier(0.86, 0.01, 0.15, 0.99); */
  transition: 0.5s all ease;
}

.cta__para {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cta__para > div:nth-child(1) {
  font-weight: 800;
  font-size: 20px;
}

.cta__para > div:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 810px) {
  .cta__para > div:nth-child(2) {
    display: none;
  }
  .cta__para > div:nth-child(1) {
    min-width: 300px;
  }
  .cta__section {
    flex-direction: column;
  }
  .cta__para {
    gap: 20px;
  }
  .cta__section > button {
    width: 300px;
  }
}

/* OUR SERVICES */
.os {
  height: 100%;
  background: rgba(104, 88, 88, 0.1);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 100px;
}

.os__main-text {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 900;
  color: yellowgreen;
  max-width: 500px;
}

.os__para {
  max-width: 500px;
}

.os__wwd {
  font-weight: 500;
  font-size: 40px;
  max-width: 400px;
  padding-top: 10px;
}

.inner__wwd {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.tilde {
  font-weight: 800;
  font-size: 18px;
  color: red;
  display: none;
}
.first__row {
  display: flex;
  height: 50%;
  gap: 100px;
  padding: 100px 0;
  /* align-items: center; */
  justify-content: center;
}
.second__row {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  gap: 150px;
  background: black;
  color: white;
  padding: 30px;
}

.gap--8 {
  gap: 8px;
}

.design__list > li:nth-child(1),
.market__list > li:nth-child(1),
.web__list > li:nth-child(1) {
  border-bottom: 2px solid saddlebrown;
}

.os__list__item {
  color: gray;
  /* min-width: ; */
}

.os__list__item {
  border-bottom: 1px solid transparent;

  padding-bottom: 2px;
}

.os__list__item:hover {
  border-bottom: 1px solid yellowgreen;
  border-width: 1px;
  transition: all 0.5s ease;
}

@media (max-width: 1500px) {
  .first__row {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 0%;
  }
  .os__main-text {
    padding: 0;
    margin: 0;
  }

  .inner__wwd {
    gap: 4px;
    padding: 0 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .second__row {
    width: 80%;
  }
}

@media (max-width: 1250px) {
  .os__main-text {
    font-size: 80px;
    max-width: 400px;
  }
  .second__row {
    flex-direction: column;
    justify-content: space-around;
    gap: 70px;
    width: 50%;
  }
  .tilde {
    display: block;
  }
}

@media (max-width: 718px) {
  .second__row {
    width: 100%;
  }
  .os__main-text {
    font-size: 57px;
  }
}

/* TESTIMNOIALS */

.testimonials {
  /* min-height: 50vh; */
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 25px;
}

.t__main_text {
  font-size: 3.3rem;
  /* padding: 50px; */
  /* font-weight: 600; */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.t__main_text > div > span {
  border-bottom: 3px solid yellowgreen;
  text-align: center;
  width: 10px;
}

.slider {
  /* max-width: 100%; */
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  z-index: 55;
  /* position: relative; */

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* THIS creates the animation! */
  transition: transform 1s;
  padding: 20px;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  width: 30%;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.avatar__text > :nth-child(2) {
  font-weight: 800;
}

.avatar__text > :nth-child(3) {
  font-weight: 400;
  text-align: center;
}

.avatar__text > img {
  width: 50%;
  /* border-radius: 100px; */
  object-fit: cover;
  border-radius: 100%;
  /* align-self: flex-start; */
  height: 50%;
}

.slide__inner__para {
  width: 60%;
  background: rgba(128, 128, 128, 0.24);
  padding: 10px;
  height: 85%;
  z-index: 30;
}

.slide__inner__para > span {
  position: absolute;
  font-size: 30px;
  color: rgb(233, 149, 24);
  transform: translate(-39%, -90%);
}
/* .slide__inner__para::before {
  content: '"';
  position: absolute;
  top: -30px;
  transform: translate(-67%);
  padding: 0;
  z-index: -20;

  font-size: 90px;
} */

.img > img {
  width: 40%;
  height: 40%;

  border-radius: 500px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  background: rgba(57, 10, 68, 0.39);
  color: #333;
  border-radius: 50%;
  height: 50px;
  font-weight: 500;
  font-size: 25px;
  width: 50px;
  cursor: pointer;
  margin-bottom: auto;
}

.slider__btn--left {
  left: 6%;
  transform: (-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: (-50%, -50%);
}

.dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  /* display: flex; */
}

.dots__dot {
  border: none;
  background: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.76rem;
  cursor: pointer;
}

.dots__dot--active {
  background: white;
  opacity: 1;
}

/* FOOTER  */

footer {
  height: 50vh;
  margin-top: 50px;
  width: 100%;
  position: relative;
  background: rgba(104, 88, 88, 0.1);
  padding-top: 100px;
}

.footer__container {
  display: flex;
  width: 70%;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
}

.footer__container > .newsletter {
  height: 300px;
  background: rgba(57, 223, 79, 0.692);
  max-height: 300px;
  box-shadow: 3px 3px 5px 5px rgba(10, 122, 25, 0.418);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.footer__container > .newsletter > input {
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 20px;
}

.footer__container > .newsletter > button {
  width: 90%;
  height: 50px;
  border-radius: 4px;
  background: transparent;
  border: 3px solid rgb(18, 153, 18);
  font-size: 20px;
  cursor: pointer;
}

.footer__container > .newsletter > button:hover {
  background: rgb(18, 153, 18, 0.4);
}

.footer__container > .newsletter > div {
  max-width: 550px;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
  line-height: 30px;
  word-spacing: 5px;
}

.left__container {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: space-around;
}

.services__list,
.contact__list,
.company__list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.company__list > ul {
  text-align: center;
}

.services__list > ul li a,
.contact__list > ul li a,
.company__list > ul li a {
  color: rgb(99, 97, 97);
}
.services__list > ul li a:hover,
.contact__list > ul li a:hover,
.company__list > ul li a:hover {
  color: rgb(0, 0, 0);
}
.services__list > ul,
.contact__list > ul,
.company__list > ul {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px 0;
}

.footer__title {
  font-weight: 800;
  font-size: 17px;
}

/* .company__list > ul {
  justify-content: flex-start;
} */

.copyright__container {
  background: rgba(104, 88, 88, 0.3);

  height: 10vh;
}

.copyright__container > .para {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

@media (max-width: 1500px) {
  .testimonials {
    display: none;
  }

  .os {
    padding-bottom: 0px;
  }
  .footer__container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .left__container {
    height: 100%;
    margin-bottom: 100px;
  }

  footer {
    margin-top: 0;
    padding-bottom: 50px;
  }

  .services__list > ul,
  .contact__list > ul,
  .company__list > ul {
    display: flex;
  }

  .custom-shape-divider-top-1658404439 {
    display: none;
  }
}

@media (max-width: 718px) {
  .footer__container {
    width: 100%;
    padding: 10px;
    height: 100%;
    margin-top: 40px;
  }
  footer {
    margin-top: 80px;
  }
  .left__container {
    min-height: 320px;
    font-size: 13px;
    padding: 0px;
  }

  /* .newsletter {
    margin-top: 120px;
  } */

  .footer__title {
    font-size: 15px;
    text-align: center;
  }
  .copyright__container {
    padding: 20px;
    min-height: 150px;
  }

  .contact__list {
    display: flex;
    align-items: flex-end;
  }
  footer {
    height: 66vh;
  }
}
/* SVG  */

.custom-shape-divider-top-1658404439 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1658404439 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 144px;
}

.custom-shape-divider-top-1658404439 .shape-fill {
  fill: #ffffff;
}

/* SCROLL RELATION FUNCTIAONLYTY  */

.section__hidden {
  opacity: 0;
  transform: translateY(8em);
  transition: all 1s ease;
}

section {
  transition: all 1s ease;
}

.scroll {
  transition: all 1s ease;
}
